@model StackOverflow.Models.Question

@{
    ViewData["Title"] = "Stack Overflow - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />


<h3>@Html.DisplayFor(model => model.Details)</h3>

<h6>@Html.DisplayFor(model => model.User.UserName)</h6>