@model IEnumerable<StackOverflow.Models.Question>

@{ 
    ViewData["Title"] = "Stack Overflow - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Questions</h1>

<div class="question-container">
    @foreach (var question in Model)
    {
        <div class="question">
            <h3>@Html.ActionLink((string) question.Title, "Details", new { id = question.Id })</h3>
        </div>

    }
</div>

